/*==========================
 extra small device starts
 ==========================  */
@media (max-width:575px){

    /* navbar css starts  */
    .navbar .navbar-brand{
        position: unset !important;
        transform:skewX(0deg) !important;
        -webkit-transform:skewX(0deg) !important;
        -moz-transform:skewX(0deg) !important;
        -ms-transform:skewX(0deg) !important;
        -o-transform:skewX(0deg) !important;
        padding: 0px !important;
        background: transparent !important;
    }

    .navbar .navbar-brand img{
        transform: skewX(0deg) !important;
        -webkit-transform: skewX(0deg) !important;
        -moz-transform: skewX(0deg) !important;
        -ms-transform: skewX(0deg) !important;
        -o-transform: skewX(0deg) !important;
    }

    .navbar .navbar-toggler{
        border-color:#e23e38;
        border-width: 2px;
        border-radius: 15px !important;
        -webkit-border-radius: 15px !important;
        -moz-border-radius: 15px !important;
        -ms-border-radius: 15px !important;
        -o-border-radius: 15px !important;
        outline: none !important;
}
    .navbar .navbar-toggler i{
        color: #fff;
    }

    .navbar-light .navbar-nav{
        background: rgba(53, 53, 51, 0.5);
    }

    .navbar-light .navbar-nav .nav-link{
        text-align: center;
    }
    /* navbar css ends  */


    /* banner css starts  */

    /* #banner .banner-slider .item.bg-2 {
        padding-bottom: 151px;
    }

    #banner .banner-slider .item.bg-2 {
        padding-bottom: 151px;
    }

    #banner .banner-slider .item.bg-3 {
        padding-bottom: 151px;
    } */

    #banner .banner-slider .bg-1 h3::before,
    #banner .banner-slider .bg-1 h3::after,
    #banner .banner-slider .bg-1 h1::before,
    #banner .banner-slider .bg-1 h1::after,
    #banner .banner-slider .bg-1 p::before,
    #banner .banner-slider .bg-1 p::after {
       display: none;
    }

    #banner .banner-slider .bg-1 h1,
    #banner .banner-slider .bg-2 h1,
    #banner .banner-slider .bg-3 h1{
        font-size: 40px !important;
    }

    #banner .banner-slider .bg-1 h3,
    #banner .banner-slider .bg-2 h3,
    #banner .banner-slider .bg-3 h3{
        font-size: 20px !important;
    }

    #banner .banner-slider .item .container .banner-text .first-p {
        padding: 0;
    }
    /* banner css ends  */
    
    /* about css starts  */
    #about {
        padding: 10px 0;
    }

    #about .about-text p {
        padding: 0px;
    }
    /* about css ends  */

    /* gallery css starts  */
    #gallery{
        margin-top: 10px !important;
    }
    /* gallery css ends  */

    /* our team css starts  */
    #our-team {
        padding: 10px 0;
    }

    #our-team .container .card{
        margin-top: 50px;
    }
    /* our team css ends  */

    /* testimonail css starts  */
    #testimonial{
        padding-bottom: 30px;
    }

    #testimonial .container .tesimonail-slider .testimonial-item .reating{
        margin-top: 15px;
    }

    #testimonial .container .tesimonail-slider .testimonial-item .person-text{
        margin-top: 15px;
    }

    #testimonial .container .tesimonail-slider .testimonial-item .person-text p {
        padding-right:0;
    }
    /* testimonail css ends  */

    /* membership css starts  */
    #membership {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #membership .container .main-div .membership-item {
        margin-top: 10px;
    }

    #membership .container .main-div .membership-item .price h3{
        font-size: 40px;
    }
    /* membership css ends  */

    /* counter up css starts  */
    #counter-up{
        text-align: center;
    }
    #counter-up .xs-count{
        margin-top: 15px;
    }

    #counter-up .xs-count:first-of-type{
        margin-top: 0;
    }
    /* counter up css ends  */

    /* our classes css starts  */
    .routine-head {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #routine .nav-tabs .nav-item {
        width: 100%;
    }

    #routine .routine-item .tab-content .tab-pane ul li{
        width: 50%;
    }
    /* our classes css ends  */

    /* brand slider css starts  */
    #brand {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    /* brand slider css ends  */

    /* footer css starts  */
    #footer .footer-item h5{
        margin-top: 30px !important;
    }

    #footer .main-footer{
        padding-top: 0;
    }
    /* footer css ends  */
}
 /*==========================
 extra small device ends
 ==========================  */


 /*==========================
  small device starts
 ==========================  */
@media (min-width:576px) and (max-width:767px){
    /* navbar css starts  */
    .navbar .navbar-brand{
        position: unset !important;
    }

    .navbar .navbar-toggler{
        border-color:#e23e38;
        border-width: 2px;
        border-radius: 15px !important;
        -webkit-border-radius: 15px !important;
        -moz-border-radius: 15px !important;
        -ms-border-radius: 15px !important;
        -o-border-radius: 15px !important;
        outline: none !important;
}
    .navbar .navbar-toggler i{
        color: #fff;
    }

    .navbar-light .navbar-nav{
        background: rgba(53, 53, 51, 0.5);
    }

    .navbar-light .navbar-nav .nav-link{
        text-align: center;
    }
    /* navbar css ends  */

    /* banner css starts  */
    #banner .banner-slider .bg-1 h3::before,
    #banner .banner-slider .bg-1 h3::after,
    #banner .banner-slider .bg-1 h1::before,
    #banner .banner-slider .bg-1 h1::after,
    #banner .banner-slider .bg-1 p::before,
    #banner .banner-slider .bg-1 p::after {
       display: none;
    }

    #banner .banner-slider .bg-1 h1,
    #banner .banner-slider .bg-2 h1,
    #banner .banner-slider .bg-3 h1{
        font-size: 40px !important;
    }

    #banner .banner-slider .bg-1 h3,
    #banner .banner-slider .bg-2 h3,
    #banner .banner-slider .bg-3 h3{
        font-size: 20px !important;
    }

    #banner .banner-slider .item .container .banner-text .first-p {
        padding: 0;
    }
    /* banner css ends  */

    /* about css starts  */
    #about {
        padding: 10px 0;
    }

    #about .about-text p {
        padding: 0px;
    }
    /* about css ends  */

    /* gallery css starts  */
    #gallery{
        margin-top: 10px !important;
    }
    /* gallery css ends  */

    /* our team css starts  */
    #our-team {
        padding-top: 15px;
        padding-bottom: 0px;
    }

    #our-team .container .card{
        margin-top: 50px;
    }
    /* our team css ends  */

    /* testimonail css starts  */
    #testimonial{
        padding-bottom: 30px;
    }

    #testimonial .container .tesimonail-slider .testimonial-item .reating{
        margin-top: 15px;
    }

    #testimonial .container .tesimonail-slider .testimonial-item .person-text{
        margin-top: 15px;
    }

    #testimonial .container .tesimonail-slider .testimonial-item .person-text p {
        padding-right:0;
    }
    /* testimonail css ends  */

     /* membership css starts  */
     #membership {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #membership .container .main-div .membership-item {
        margin-top: 10px;
    }
    /* membership css ends  */

    /* our classes css starts  */
    .routine-head {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #routine .nav-tabs .nav-item {
        
    }

    #routine .routine-item .tab-content .tab-pane ul li{
        width: 50%;
    }
    /* our classes css ends  */

    /* brand slider css starts  */
    #brand {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    /* brand slider css ends  */

    /* footer css starts  */
    #footer .footer-item h5{
        margin-top: 30px !important;
    }

    #footer .main-footer{
        padding-top: 0;
    }
    /* footer css ends  */
}
 /*==========================
  small device ends
 ==========================  */

 /*==========================
  medium device starts
 ==========================  */
@media (min-width:768px) and (max-width:991px){
    /* navbar css starts  */
    .navbar{
       background: transparent !important;
    }

    .navbar .navbar-brand{
        position: unset !important;
    }

    .navbar .navbar-toggler{
        border-color:#e23e38;
        border-width: 2px;
        outline: none !important;
}
    .navbar .navbar-toggler i{
        color: #fff;
    }

    .navbar-light .navbar-nav{
        background: rgba(53, 53, 51, 0.5);
        width: 100px;
    }

    .navbar-light .navbar-nav .nav-link{
       text-align: center;
    }
    /* navbar css ends  */

    /* banner css starts  */
    #banner .banner-slider .bg-1 h3::before {
        content: '';
        height: 3px;
        width: 204px;
        position: absolute;
        left: 45px;
        top: 31px;
        background-color: var(--brandcolor);
    }

    #banner .banner-slider .bg-1 h3::after {
        content: '';
        height: 3px;
        width: 165px;
        position: absolute;
        right: 45px;
        top: 31px;
        background-color: var(--brandcolor);
    }

    #banner .banner-slider .bg-1 p::before {
        content: '';
        width: 91px;
        height: 3px;
        position: absolute;
        top: 88px;
        left: 42px;
        background-color: var(--brandcolor);
    }

    #banner .banner-slider .bg-1 p::after {
        content: '';
        width: 60px;
        height: 3px;
        position: absolute;
        top: 88px;
        right: 42px;
        background-color: var(--brandcolor);
    }
    /* banner css ends  */

    /* about css starts  */
    #about {
        padding: 20px 0;
    }

    #about .about-text p {
        padding: 0 0px;
    }
    /* about css ends  */

    /* our team css starts  */
    #our-team {
        padding: 20px 0;
    }

    #our-team .container .card{
        margin-top: 50px !important;
    }
    /* our team css ends  */

    /* testimonial css starts  */
    #testimonial .container .tesimonail-slider .testimonial-item .person-text p {
        padding-right: 20px;
    }
    /* testimonial css ends  */

    /* membership css starts  */
    #membership {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    /* membership css ends  */

    /* our classes css starts  */
    .routine-head {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #routine .routine-item .tab-content .tab-pane ul li{
        width: 50%;
    }
    /* our classes css ends  */

    /* footer css starts */
    #footer .footer-item h5{
        margin-top: 30px !important;
    }

    #footer .main-footer{
        padding-top: 0;
    }
    
    #main-footer col-xs-6{
        width: 50% !important;
    }
    /* footer css ends */
}
 /*==========================
  medium device ends
 ==========================  */

 /*==========================
  large device starts
 ==========================  */
@media (min-width:992px) and (max-width:1199px){
    /* banner css starts  */

    #banner .banner-slider .bg-1 h3.lg-margin{
        margin-top: 55px;
    }

    #banner .banner-slider .bg-1 h3::before {
        content: '';
        height: 3px;
        width: 180px;
        position: absolute;
        left: -81px;
        top: 21px;
        background-color: var(--brandcolor);
    }

    #banner .banner-slider .bg-1 h3::after {
        content: '';
        height: 3px;
        width: 112px;
        position: absolute;
        right: -75px;
        top: 21px;
        background-color: var(--brandcolor);
    }

    #banner .banner-slider .bg-1 h1::before {
        content: '';
        width: 3px;
        height: 200px;
        position: absolute;
        top: -29px;
        left: -82px;
        background-color: var(--brandcolor);
    }

    #banner .banner-slider .bg-1 h1::after {
        content: '';
        width: 3px;
        height: 200px;
        position: absolute;
        top: -30px;
        right: -78px;
        background-color: var(--brandcolor);
    }

    #banner .banner-slider .bg-1 p::before {
        content: '';
        width: 78px;
        height: 3px;
        position: absolute;
        top: 79px;
        left: -82px;
        background-color: var(--brandcolor);
    }

    #banner .banner-slider .bg-1 p::after {
        content: '';
        width: 39px;
        height: 3px;
        position: absolute;
        top: 78px;
        right: -78px;
        background-color: var(--brandcolor);
    }

    #banner .banner-slider .item.bg-2 {
        padding-bottom: 151px;
    }

    #banner .banner-slider .item.bg-2 {
        padding-bottom: 206px;
    }

    #banner .banner-slider .item.bg-3 {
        padding-bottom:206px;
    }
    /* banner css ends  */

    /* about css starts  */
    #about {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    #about .about-text p {
        padding: 0 0px;
    }
    /* about css ends  */

    /* our team css starts */
    #our-team{
        padding-top: 50px;
        padding-bottom: 0px;
    }
    /* our team css ends */

    /* testimonial css starts */
    #testimonial .container .tesimonail-slider .testimonial-item .person-text p {
        padding-right: 50px;
    }
    /* testimonial css ends */

    /* membership css starts */
    #membership {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    /* membership css ends */

    /* our clases css starts  */
    .routine-head {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    /* our clases css ends  */
}
 /*==========================
  large device ends
 ==========================  */

  /*==========================
  exra large device starts
 ==========================  */
@media (min-width:1200px) and (max-width:1399px){
    /* banner css starts  */

    #banner .banner-slider .bg-1 h3.lg-margin{
        margin-top: 55px;
    }

    #banner .banner-slider .bg-1 h3::before {
        content: '';
        height: 3px;
        width: 180px;
        position: absolute;
        left: -36px;
        top: 21px;
        background-color: var(--brandcolor);
    }

    #banner .banner-slider .bg-1 h3::after {
        content: '';
        height: 3px;
        width: 112px;
        position: absolute;
        right: -30px;
        top: 21px;
        background-color: var(--brandcolor);
    }

    #banner .banner-slider .bg-1 h1::before {
        content: '';
        width: 3px;
        height: 200px;
        position: absolute;
        top: -29px;
        left: -36px;
        background-color: var(--brandcolor);
    }

    #banner .banner-slider .bg-1 h1::after {
        content: '';
        width: 3px;
        height: 200px;
        position: absolute;
        top: -30px;
        right: -32px;
        background-color: var(--brandcolor);
    }

    #banner .banner-slider .bg-1 p::before {
        content: '';
        width: 78px;
        height: 3px;
        position: absolute;
        top: 79px;
        left: -36px;
        background-color: var(--brandcolor);
    }

    #banner .banner-slider .bg-1 p::after {
        content: '';
        width: 39px;
        height: 3px;
        position: absolute;
        top: 78px;
        right: -32px;
        background-color: var(--brandcolor);
    }

    #banner .banner-slider .item.bg-2 {
            padding-bottom: 224px;
    }

    #banner .banner-slider .item.bg-3 {
        padding-bottom: 224px;
    }
    /* banner css ends  */

    /* about css starts */
    #about {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #about .about-text p {
        padding: 0 0px;
    }
    /* about css ends */

    /* our team css starts  */
    #our-team {
        padding-top: 30px;
        padding-bottom: 0px;
    }

    #our-team .container .card{
        margin-top: 50px;
    }
    /* our team css ends  */

    /* membership css starts */
    #membership {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    /* membership css ends */

    /* our classes css starts  */
    .routine-head {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    /* our classes css ends  */
}
 /*==========================
  exra large device ends
 ==========================  */

 /*============================ 
 exra exra large device starts
 =============================== */
@media (min-width:1400px){
    #banner .banner-slider .bg-1 h3.lg-margin{
        margin-top: 55px;
    }

    #banner .banner-slider .bg-1 h3::before {
        content: '';
        height: 3px;
        width: 180px;
        position: absolute;
        left: -5px;
        top: 21px;
        background-color: var(--brandcolor);
    }

    #banner .banner-slider .bg-1 h3::after {
        content: '';
        height: 3px;
        width: 112px;
        position: absolute;
        right: 12px;
        top: 21px;
        background-color: var(--brandcolor);
    }

    #banner .banner-slider .bg-1 h1::before {
        content: '';
        width: 3px;
        height: 200px;
        position: absolute;
        top: -29px;
        left: -5px;
        background-color: var(--brandcolor);
    }

    #banner .banner-slider .bg-1 h1::after {
        content: '';
        width: 3px;
        height: 200px;
        position: absolute;
        top: -30px;
        right: 12px;
        background-color: var(--brandcolor);
    }

    #banner .banner-slider .bg-1 p::before {
        content: '';
        width: 90px;
        height: 3px;
        position: absolute;
        top: 79px;
        left: -5px;
        background-color: var(--brandcolor);
    }

    #banner .banner-slider .bg-1 p::after {
        content: '';
        width: 39px;
        height: 3px;
        position: absolute;
        top: 78px;
        right:12px;
        background-color: var(--brandcolor);
    }

    #banner .banner-slider .item{
        padding-bottom: 169px;
    }

    #banner .banner-slider .item.bg-2 {
            padding-bottom: 224px;
    }

    #banner .banner-slider .item.bg-3 {
        padding-bottom: 224px;
    }
    /* banner css ends  */
}
 /*==============================
  exra exra large device ends
  ============================== */